.navigation {
    margin: 0.5rem 1rem;
}

.navigation img {
    width: 2rem;
}

.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    background-color: #fff;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 2rem;
    width: 85%;
}

.icon-top-right {
    float: right;
    margin: -3rem -3rem 0 0;
    transform: rotate(25deg);
    width: 3rem;
}
