.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    background-color: #fff;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 2rem;
    width: 85%;
}

.icon-top-left{
    width: 3rem;
    margin: -1rem 0 0 -1rem;
    transform: rotate(-25deg);
}
