a {
    color: #fff;
    text-decoration: none;
}

.home-landing {
    align-items: center;
    background: #fff url('../images/border-bottom.png') repeat-x bottom center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto -1px auto;
    padding: 0 20px;
    position: relative;
}

.home-landing-text {
    margin: 25px 0;
}

.trees {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    width: 100%;
}

.trees-left img, .trees-right img {
    height: 3rem;
    margin-bottom: -15px;
}

.trees-left img:nth-child(odd), .trees-right img:nth-child(even) {
    height: 4rem;
    margin-bottom: -25px;
}

.home-details {
    align-items: center;
    background-color: #a8e0c7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.home-details h1 {
    color: #62bfac;
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 20px;
    margin: 0;
    max-width: 750px;
    justify-content: space-between;
}

.tiles li {
    display: block;
    margin: 20px;
    flex-basis: calc(50% - 40px);
    z-index: 2;
}

.tiles li:hover {
    cursor: pointer;
}

.tiles li:hover img {
    opacity: 0.8;
}

.tiles img {
    width: 100%;
    height: auto;
}

.img-description {
    display: none;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.tiles li:hover .img-description {
    display: inline;
}

@media screen and (min-width: 600px) {
    .tiles li {
        margin: 20px;
        flex-basis: calc(33% - 40px);
    }
}