@import url('https://fonts.googleapis.com/css?family=Forum');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 24px;
    }
}

body {
    background-color: #ffffff;
    color: #62bfac;
    font-family: 'Forum', Helvetica Nue, sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em 0;
}

h2 {
    font-size: 1em;
    text-align: center;
    padding: 0.25em 0;
}

.home-landing {
    align-items: center;
    background: url('../images/border-bottom.png') repeat-x bottom center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin: 0 auto -1px auto;
    padding: 0 20px;
    position: relative;
}

.home-landing-text {
    margin-top: 50px;
}

.home-details {
    background-color: #a8e0c7;
    color: white;
    height: 300px;
    padding: 10px 20px;
}

.home-details li {
    margin: 10px 0;
}

.home-details h1 {
    color: #62bfac;
}

.trees {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.trees-left img, .trees-right img {
    height: 3rem;
    margin-bottom: -15px;
}

.trees-left img:nth-child(odd), .trees-right img:nth-child(even) {
    height: 4rem;
    margin-bottom: -25px;
}