@import url('https://fonts.googleapis.com/css?family=Forum');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #95ceba;
    font-family: 'Forum', Helvetica Nue, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.index-container {
    height: 80vh;
    padding-top: 30vh;
}

